<section class="gallery site__content">

  <h2>FEATURED EXPERIENCES</h2>

  <p>Our concierge hand-selected these destiantionss for you based on your preferences</p>

  <!-- gallery__swiper -->
  <div class="gallery__swiper">

    <!-- swiper-wrapper -->
    <div class="swiper-wrapper">

      <!-- gallery__item -->
      <div class="gallery__item swiper-slide">

        <img src="../../../assets/pic/placeholder-img.jpg" alt=""/>

        <!-- gallery__item-content -->
        <div class="gallery__item-content">

          <span class="gallery__item-name">MOUNTAIN CLIMBING</span>

          <!-- gallery__item-info -->
          <div class="gallery__item-info">

            <span class="gallery__item-term">1 day full experience</span>
            <span class="gallery__item-budget">from $1,000</span>

          </div>
          <!-- /gallery__item-info -->

          <!-- gallery__item-text -->
          <div class="gallery__item-text">
            <p>One of the most culture-rich islands in the Carribean, let our concierge plan the perfect trip for you</p>
          </div>
          <!-- /gallery__item-text -->

        </div>
        <!-- /gallery__item-content -->

      </div>
      <!-- /gallery__item -->

    </div>
    <!-- /swiper-wrapper -->

  </div>
  <!-- /gallery__swiper -->

</section>