<form method="get" action="/" class="filter">

    <!-- filter__destination -->
    <div class="filter__destination">
        <input type="text" name="destination" placeholder="DESTINATION" />
    </div>
    <!-- /filter__destination -->

    <!-- filter__dates -->
    <div class="filter__dates">

        <!-- filter__current -->
        <span class="filter__current">
            DATES
            <svg viewBox="0 0 24 30">
                <path d="M2,4l20,8L2,20l4-8L2,4z"/>
            </svg>
        </span>
        <!-- /filter__current -->

        <!-- filter__popup -->
        <div class="filter__popup">

        </div>
        <!-- /filter__popup -->

    </div>
    <!-- /filter__dates -->

    <!-- filter__bedrooms -->
    <div class="filter__bedrooms">

        <!-- filter__current -->
        <span class="filter__current">
            BEDROOMS
            <svg viewBox="0 0 24 30">
                <path d="M2,4l20,8L2,20l4-8L2,4z"/>
            </svg>
        </span>
        <!-- /filter__current -->

        <!-- filter__popup -->
        <div class="filter__popup">

        </div>
        <!-- /filter__popup -->

    </div>
    <!-- /filter__bedrooms -->

    <!-- filter__filters -->
    <div class="filter__filters">

        <!-- filter__current -->
        <span class="filter__current">
            FILTERS
            <svg viewBox="0 0 24 30">
                <path d="M2,4l20,8L2,20l4-8L2,4z"/>
            </svg>
        </span>
        <!-- /filter__current -->

        <!-- filter__popup -->
        <div class="filter__popup">

        </div>
        <!-- /filter__popup -->

    </div>
    <!-- /filter__filters -->

</form>
