<div class="place-info site__content">

  <h1 class="place-info__title">Saint-Barthélemy</h1>

  <!-- place-info__content -->
  <div class="place-info__content">

    <h2>A carribean island with a french twist</h2>

    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia</p>

  </div>
  <!-- /place-info__content -->

  <!-- place-info__address -->
  <address class="place-info__address">

    <div>
      <p>27 luxury villas</p>
    </div>

    <div>
      <p>global top 10</p>
      <p>booked destination</p>
    </div>

    <div>
      <p>2 hours from mia</p>
    </div>

    <a href="#" class="btn btn_1">ENQUIRE NOW</a>

  </address>
  <!-- /place-info__address -->

</div>