<div class="services site__content">

  <h2>complimentary services with every stay</h2>

  <ul class="services__list services__list_1">

    <li>
      <svg viewBox="0 0 24 30">
        <path d="M2,4l20,8L2,20l4-8L2,4z"/>
      </svg>
      <p>WELCOME CEREMONY</p>
      <p>Our local team will greet you with champagne and hors d’oeuvres.</p>
    </li>

    <li>
      <svg viewBox="0 0 24 30">
        <path d="M2,4l20,8L2,20l4-8L2,4z"/>
      </svg>
      <p>CONCIERGE TEAM</p>
      <p>We plan a customized itinerary for your entire trip and service anything you desire</p>
    </li>

    <li>
      <svg viewBox="0 0 24 30">
        <path d="M2,4l20,8L2,20l4-8L2,4z"/>
      </svg>
      <p>CHAUFFEUR</p>
      <p>Our chauffeur greets you at the airport and drives you to your destination</p>
    </li>

    <li>
      <svg viewBox="0 0 24 30">
        <path d="M2,4l20,8L2,20l4-8L2,4z"/>
      </svg>
      <p>PROPERTY MANAGER</p>
      <p>Inspects the home prior to your arrival to address any issues</p>
    </li>

    <li>
      <svg viewBox="0 0 24 30">
        <path d="M2,4l20,8L2,20l4-8L2,4z"/>
      </svg>
      <p>HOUSEKEEPING</p>
      <p>Keeps the home exceptionally clean and hygienic, using only organic products</p>
    </li>

    <li>
      <svg viewBox="0 0 24 30">
        <path d="M2,4l20,8L2,20l4-8L2,4z"/>
      </svg>
      <p>FULL-TIME BUTLER</p>
      <p>Full-time butler service at your disposal</p>
    </li>

  </ul>

  <h3>included amenities</h3>

  <ul class="services__list services__list_2">

    <li>
      <p>Wi-Fi internet access & cable or satellite TV</p>
      <p>Bathrobes & Slippers</p>
      <p>Safe for valuables</p>
    </li>

    <li>
      <p>Espresso service</p>
      <p>Magazine selection</p>
      <p>Linens, towels</p>
    </li>

    <li>
      <p>Hairdryer In each room</p>
      <p>Spa products</p>
      <p>Fresh floral arrangements</p>
    </li>

  </ul>

</div>
