/*---------- article ----------*/
$text-color: #403f3f;
$text-color-2: #000;
$titles-color: #000;
/*---------- /article ---------*/

/*---------- btn ----------*/
$btn-back-1: #000;
$btn-text-1: #fff;
/*---------- /btn ---------*/

/*---------- place-info ----------*/
$place-info-content: #403f3f;
$place-info-address: #303030;
/*---------- /place-info ----------*/

/*---------- tabs ----------*/
$tabs-color: #898888;
$tabs-active-color: #000;
/*---------- /tabs ---------*/

/*---------- footer ----------*/
$footer-back: #303030;
$footer-about-back: #000;
$footer-color-text: #fff;
$footer-color-title: #fff;
$footer-btn: #c7c7c7;
$footer-input: #fff;
/*---------- /footer ---------*/