/*---------- article ----------*/
$text-color: #403f3f;
$text-color-2: #000;
$titles-color: #000;
/*---------- /article ---------*/

/*---------- footer ----------*/
$footer-back: #303030;
$footer-about-back: #000;
$footer-color-text: #fff;
$footer-color-title: #fff;
$footer-btn: #c7c7c7;
$footer-input: #fff;
/*---------- /footer ---------*/