<article class="about site__content">

  <img src="../../../assets/pic/placeholder-img.jpg" alt=""/>

  <h2>LVH PRIVE</h2>

  <h3>INCLUDED WITH WITH YOUR BOOKING YOU WILL RECEIVE  ACCESS TO LVH PRIVE </h3>

  <p>Providing full access to our exclusive lifestyle community of elite homeowners, travelers and tastemakers.</p>
  <p>LVH PRIVE will provide access to most exclusive ultimate travel experiences by providing our clients something they can't find anywhere and build a Long term relationship and trust with unrestricted access to: </p>

  <!-- about__list -->
  <ul class="about__list">

    <li>

      <div>

        <svg viewBox="0 0 24 30">
          <path d="M2,4l20,8L2,20l4-8L2,4z"></path>
        </svg>

        <p>Secure access to all our Portfolio through our website and our Mobile App with access to over 4000 luxuries homes In more than 40 destination.</p>
      </div>

      <div>

        <svg viewBox="0 0 24 30">
          <path d="M2,4l20,8L2,20l4-8L2,4z"></path>
        </svg>

        <p>A dedicated Concierge team who will handle all of your inquiries  all year long.</p>
      </div>

    </li>

    <li>

      <div>

        <svg viewBox="0 0 24 30">
          <path d="M2,4l20,8L2,20l4-8L2,4z"></path>
        </svg>

        <p>Access to our last minute cancellation and special promotion up to 50% discount.</p>
      </div>

      <div>

        <svg viewBox="0 0 24 30">
          <path d="M2,4l20,8L2,20l4-8L2,4z"></path>
        </svg>

        <p>Invitation to LVH Global community events around the world.</p>
      </div>

      <div>

        <svg viewBox="0 0 24 30">
          <path d="M2,4l20,8L2,20l4-8L2,4z"></path>
        </svg>

        <p>Exclusive vacation packages and experiences only available to members.</p>
      </div>

    </li>

    <li>

      <div>

        <svg viewBox="0 0 24 30">
          <path d="M2,4l20,8L2,20l4-8L2,4z"></path>
        </svg>

        <p>Exclusive  Access to our partners benefits platform - including sponsorship events and experiences.</p>
      </div>

      <div>

        <svg viewBox="0 0 24 30">
          <path d="M2,4l20,8L2,20l4-8L2,4z"></path>
        </svg>

        <p>Loyalty and referral program </p>
      </div>

    </li>

  </ul>
  <!-- /about__list -->

  <a href="#" class="btn btn_2">Apply now</a>

</article>
